# Node.js
node_modules/
npm-debug.log
.DS_Store

# Environment variables
.env.harperdb

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.sublime-workspace
*.sublime-project
